In [1]:
from bs4 import BeautifulSoup as bs
import requests
import re
import math
import pandas as pd

In [2]:
def get_soup(url):
    
    main_html = requests.get(url)
    
    soup = bs(main_html.content, 'html.parser')
    
    return soup

In [3]:
def compute_pages(soup):
    
    try:
        items = int(re.search('\d+\s+of\s+(\d+)',soup.find_all(class_='listing-results-utils-count')[0].text).groups()[0])

        pages = math.ceil(items/40)
    
    except:
        
        return None
    
    return pages

In [4]:
def get_page_postcodes(url, page):
    
    url = url + '&pn={page}'.format(page=page)
    
    soup = get_soup(url)
    
    postcodes = [postcodes.get_text().strip(' ,') for postcodes in soup.find_all(class_='sold-prices-street-postcode')]

    return postcodes

In [5]:
def get_inner_postcodes():
    
    base_url = 'https://www.zoopla.co.uk/house-prices/browse/london/nw6/kilburn-queens-park-south-and-west-hampstead-brondesbury-park/?q=london%20nw6'
        
    n_pages = compute_pages(get_soup(base_url))
            
    postcodes = []
    
    for page in range(n_pages+1):
        
        postcodes += get_page_postcodes(url=base_url, page=page)
    
    return set(postcodes)

In [6]:
def extract_properties_from_postcode(postcode):
    
    postcode = postcode.replace(' ', '-')
    
    base_url = 'https://www.zoopla.co.uk/house-prices/london/'
    url = 'https://www.zoopla.co.uk/house-prices/london/{pc}/?pn={page}'.format(pc=postcode, page=1)
    soup = get_soup(url)
    
    n_pages = compute_pages(soup)
    
    if not n_pages:
        return None
    
    results = []
    
    for page in range(1, n_pages+1):
            
        url = 'https://www.zoopla.co.uk/house-prices/london/{pc}/?pn={page}'.format(pc=postcode, page=page)
        soup = get_soup(url)
        propierties = soup.find_all('tr', class_=re.compile('row-(even|odd)'))
            
        for i, row in enumerate(propierties[1:]):

            try:
                
                result = {x:y for x,y in zip(('address', 'date', 'price', 'attributes'), extract_sales_by_row(row))}
                result['postcode'] = postcode    
                
                results.append(result)

            except:
                
                return row
        
    
    return results

In [7]:
def extract_old_prices(panels):
    
    data = panels[0].text.split('\n\n\n')
    
    prices = [data[date].strip() for date in range(0, len(data),2)]
    dates = [data[price].strip() for price in range(1, len(data),2)]
    
    return prices, dates

In [8]:
def extract_sales_by_row(row):

    house = row.findChild(class_='browse-cell-address')
    sales = row.findChild(class_='browse-cell-date')
    attributes = row.findChild(class_='attributes').get_text().strip()

    address = house.findChild(class_='sold-prices-results-address')
    date = sales.findChild(class_='sold-prices-data')
    price = sales.findChild(class_='sold-prices-data-price')
    old_price = sales.findChildren(class_='previous-sales-panel')
    
    if address:
        address = address.get_text().strip().split('\n')[0]
    else:
        address = None
        
    if date:
        date = [date.get_text().strip()]
    else:
        date = None
        
    if price:
        price = [price.get_text().strip()]
    else:
        price = None
    
    if old_price:
        dates, prices = extract_old_prices(old_price)
        prices = price + prices
        dates = date + dates
    else:
        prices = price
        dates = date
        
        
    return address, dates, prices, attributes

In [9]:
pc = get_inner_postcodes()

In [10]:
total = []

In [12]:
for i, postcode in enumerate(pc):
    print(i, postcode)
    total.append(extract_properties_from_postcode(postcode))

0 NW6 4DN
1 NW6 5PD
2 NW6 2HB
3 NW6 7YF
4 NW6 7BA
5 NW6 6SP
6 NW6 1TT
7 NW6 6EN
8 NW6 3LW
9 NW6 5BX
10 NW6 5HE
11 NW6 1QT
12 NW6 4RX
13 NW6 7RN
14 NW6 3JH
15 NW6 6PS
16 NW6 7DN
17 NW6 5LS
18 NW6 7DZ
19 NW6 1NF
20 NW6 6BA
21 NW6 6TD
22 NW6 2BH
23 NW6 7AL
24 NW6 4TA
25 NW6 1XT
26 NW6 3ET
27 NW6 4RH
28 NW6 3QA
29 NW6 4BR
30 NW6 3RP
31 NW6 3RX
32 NW6 2DX
33 NW6 7TY
34 NW6 5JJ
35 NW6 6DG
36 NW6 2PS
37 NW6 1DU
38 NW6 7ER
39 NW6 4QZ
40 NW6 6LR
41 NW6 7SE
42 NW6 1XF
43 NW6 3QR
44 NW6 2DY
45 NW6 7BU
46 NW6 7LG
47 NW6 5HL
48 NW6 4HY
49 NW6 6BJ
50 NW6 6JH
51 NW6 2PX
52 NW6 7JN
53 NW6 4DF
54 NW6 7XJ
55 NW6 7RD
56 NW6 5LF
57 NW6 6PY
58 NW6 6QH
59 NW6 4DL
60 NW6 6SG
61 NW6 5FT
62 NW6 5EG
63 NW6 5UG
64 NW6 3NH
65 NW6 4SG
66 NW6 3PH
67 NW6 7DL
68 NW6 6AU
69 NW6 1UA
70 NW6 1QW
71 NW6 5HU
72 NW6 4DT
73 NW6 1HF
74 NW6 5TR
75 NW6 6PD
76 NW6 5AT
77 NW6 1LR
78 NW6 4QL
79 NW6 7QJ
80 NW6 7EA
81 NW6 1PS
82 NW6 7XU
83 NW6 2PY
84 NW6 4EQ
85 NW6 6EG
86 NW6 5BW
87 NW6 7YE
88 NW6 5UZ
89 NW6 5FH
90 NW6 3NU
91 NW6 4TE
92 NW6 5TE
93 NW6 3DP
94 NW6 5QP
95 NW6 1AU
96 NW6 1BH
97 NW6 1HQ
98 NW6 1DB
99 NW6 5EN
100 NW6 1QL
101 NW6 1TG
102 NW6 4QP
103 NW6 3BT
104 NW6 4LU
105 NW6 7RB
106 NW6 7EB
107 NW6 5NU
108 NW6 6TP
109 NW6 5AA
110 NW6 1DT
111 NW6 3PJ
112 NW6 7PH
113 NW6 2LU
114 NW6 7BS
115 NW6 5UD
116 NW6 2AR
117 NW6 1HW
118 NW6 4EL
119 NW6 5QX
120 NW6 7BE
121 NW6 7YB
122 NW6 6HL
123 NW6 4AS
124 NW6 1XU
125 NW6 6BD
126 NW6 7UN
127 NW6 2QS
128 NW6 1AP
129 NW6 4NP
130 NW6 5XB
131 NW6 7JG
132 NW6 7AJ
133 NW6 7LN
134 NW6 1HA
135 NW6 6BE
136 NW6 4JS
137 NW6 3BD
138 NW6 7DF
139 NW6 7EX
140 NW6 3RF
141 NW6 6QL
142 NW6 7PL
143 NW6 6SB
144 NW6 7AY
145 NW6 4EX
146 NW6 7BG
147 NW6 1PB
148 NW6 4EF
149 NW6 1HB
150 NW6 1BE
151 NW6 1JQ
152 NW6 4LJ
153 NW6 1RY
154 NW6 4LS
155 NW6 2AB
156 NW6 1QX
157 NW6 3RT
158 NW6 2QN
159 NW6 4QS
160 NW6 4AH
161 NW6 4LA
162 NW6 7NX
163 NW6 4EY
164 NW6 5EZ
165 NW6 6RJ
166 NW6 6NR
167 NW6 5TA
168 NW6 7AR
169 NW6 3NL
170 NW6 6NA
171 NW6 1SJ
172 NW6 1QS
173 NW6 5YX
174 NW6 4JT
175 NW6 1XS
176 NW6 3AE
177 NW6 1XL
178 NW6 1NL
179 NW6 1QN
180 NW6 1HJ
181 NW6 6NP
182 NW6 1XJ
183 NW6 6LG
184 NW6 5QH
185 NW6 1EB
186 NW6 1AB
187 NW6 7JR
188 NW6 3JQ
189 NW6 6QA
190 NW6 1HG
191 NW6 4EA
192 NW6 5XD
193 NW6 7TJ
194 NW6 3AN
195 NW6 6AX
196 NW6 7QY
197 NW6 1UP
198 NW6 1ES
199 NW6 7UU
200 NW6 5HN
201 NW6 1HH
202 NW6 7XS
203 NW6 6LL
204 NW6 3LX
205 NW6 5NR
206 NW6 2AT
207 NW6 2QJ
208 NW6 7NB
209 NW6 5PT
210 NW6 7ST
211 NW6 4DP
212 NW6 7HG
213 NW6 6RD
214 NW6 7DE
215 NW6 7LW
216 NW6 5AN
217 NW6 4RA
218 NW6 1EF
219 NW6 7SR
220 NW6 7QN
221 NW6 2QW
222 NW6 4QX
223 NW6 6HH
224 NW6 1DL
225 NW6 6HE
226 NW6 3BH
227 NW6 1TW
228 NW6 3ER
229 NW6 5NX
230 NW6 6TH
231 NW6 4AT
232 NW6 5HH
233 NW6 3JJ
234 NW6 2NE
235 NW6 6BX
236 NW6 3QJ
237 NW6 1BJ
238 NW6 6TA
239 NW6 5AL
240 NW6 6NJ
241 NW6 1HZ
242 NW6 7YH
243 NW6 3AG
244 NW6 5SG
245 NW6 1ER
246 NW6 4HA
247 NW6 4LR
248 NW6 3EY
249 NW6 5UR
250 NW6 4QJ
251 NW6 5UT
252 NW6 6AZ
253 NW6 7LF
254 NW6 7FA
255 NW6 3QX
256 NW6 7SG
257 NW6 1TB
258 NW6 1TE
259 NW6 4LT
260 NW6 7QX
261 NW6 6DJ
262 NW6 5SA
263 NW6 6NG
264 NW6 6HJ
265 NW6 5PP
266 NW6 7QU
267 NW6 4PL
268 NW6 6DA
269 NW6 6PU
270 NW6 7AS
271 NW6 3DE
272 NW6 6DF
273 NW6 7TT
274 NW6 7XE
275 NW6 7XP
276 NW6 7XF
277 NW6 6QB
278 NW6 1AE
279 NW6 1LD
280 NW6 5JA
281 NW6 7NS
282 NW6 4QD
283 NW6 7HA
284 NW6 5JU
285 NW6 4HS
286 NW6 5JG
287 NW6 6NU
288 NW6 3DG
289 NW6 5DU
290 NW6 2PE
291 NW6 2BL
292 NW6 5SL
293 NW6 7BF
294 NW6 1TA
295 NW6 2RA
296 NW6 5SB
297 NW6 3NR
298 NW6 5NY
299 NW6 5ND
300 NW6 7DQ
301 NW6 4DE
302 NW6 7XW
303 NW6 7TG
304 NW6 7UA
305 NW6 3LU
306 NW6 5DY
307 NW6 4RG
308 NW6 2EL
309 NW6 5JH
310 NW6 6EL
311 NW6 7DY
312 NW6 6LH
313 NW6 1JY
314 NW6 4PD
315 NW6 5QJ
316 NW6 3AD
317 NW6 1DH
318 NW6 2DP
319 NW6 2ED
320 NW6 1TF
321 NW6 1DA
322 NW6 6AJ
323 NW6 6LB
324 NW6 3HP
325 NW6 1BB
326 NW6 4JX
327 NW6 2HA
328 NW6 4ST
329 NW6 6ND
330 NW6 6QJ
331 NW6 6EX
332 NW6 7RR
333 NW6 1SH
334 NW6 7RU
335 NW6 4SR
336 NW6 7LU
337 NW6 3SG
338 NW6 6HA
339 NW6 7RT
340 NW6 2PR
341 NW6 1DZ
342 NW6 6EU
343 NW6 1DD
344 NW6 7XH
345 NW6 1XX
346 NW6 7HT
347 NW6 2JE
348 NW6 4JY
349 NW6 6PA
350 NW6 4SY
351 NW6 7YU
352 NW6 1PH
353 NW6 2PU
354 NW6 5LD
355 NW6 7JH
356 NW6 1QJ
357 NW6 5YR
358 NW6 5EE
359 NW6 7QF
360 NW6 7HE
361 NW6 7EP
362 NW6 1PP
363 NW6 5DB
364 NW6 7XT
365 NW6 7AN
366 NW6 7TD
367 NW6 7DB
368 NW6 4EB
369 NW6 2HE
370 NW6 7QE
371 NW6 4PX
372 NW6 1NJ
373 NW6 5NL
374 NW6 2QA
375 NW6 2EW
376 NW6 5EJ
377 NW6 1TY
378 NW6 7TN
379 NW6 7UX
380 NW6 5SR
381 NW6 1BA
382 NW6 1HN
383 NW6 3BJ
384 NW6 1NT
385 NW6 4NU
386 NW6 6BL
387 NW6 2QU
388 NW6 7RX
389 NW6 7BX
390 NW6 6JX
391 NW6 6NE
392 NW6 1XP
393 NW6 7NN
394 NW6 3BL
395 NW6 4RR
396 NW6 5EP
397 NW6 4HJ
398 NW6 4JL
399 NW6 5RU
400 NW6 4JU
401 NW6 5XA
402 NW6 4DW
403 NW6 6TE
404 NW6 4PB
405 NW6 5QD
406 NW6 7XD
407 NW6 4TL
408 NW6 5UX
409 NW6 4PJ
410 NW6 5TW
411 NW6 1AH
412 NW6 4BH
413 NW6 3RH
414 NW6 1DS
415 NW6 7EQ
416 NW6 3NS
417 NW6 1QZ
418 NW6 1AY
419 NW6 1UT
420 NW6 2BF
421 NW6 7PA
422 NW6 7JW
423 NW6 4AA
424 NW6 7DD
425 NW6 3ES
426 NW6 7NH
427 NW6 1XR
428 NW6 1DR
429 NW6 2NB
430 NW6 6BS
431 NW6 2NT
432 NW6 2PH
433 NW6 7AP
434 NW6 1NU
435 NW6 2AH
436 NW6 5ET
437 NW6 6DD
438 NW6 2QT
439 NW6 5NT
440 NW6 1LU
441 NW6 3PL
442 NW6 6QE
443 NW6 1PZ
444 NW6 6AB
445 NW6 4RU
446 NW6 5NN
447 NW6 2DU
448 NW6 4RE
449 NW6 7LY
450 NW6 5HQ
451 NW6 7LT
452 NW6 4RD
453 NW6 3DN
454 NW6 6NH
455 NW6 4BY
456 NW6 2HL
457 NW6 5HR
458 NW6 7SB
459 NW6 5AD
460 NW6 7DH
461 NW6 5NP
462 NW6 1RF
463 NW6 1SD
464 NW6 4TN
465 NW6 4EU
466 NW6 5RG
467 NW6 6QD
468 NW6 6EA
469 NW6 7ES
470 NW6 4BT
471 NW6 3PE
472 NW6 4PU
473 NW6 4BB
474 NW6 6AS
475 NW6 2JS
476 NW6 1RP
477 NW6 7BL
478 NW6 5AG
479 NW6 6EH
480 NW6 5BF
481 NW6 1XH
482 NW6 6TL
483 NW6 1NS
484 NW6 2NS
485 NW6 7ND
486 NW6 7DT
487 NW6 7ED
488 NW6 2JG
489 NW6 1DF
490 NW6 5ED
491 NW6 7BT
492 NW6 5EX
493 NW6 1BP
494 NW6 3RL
495 NW6 1TU
496 NW6 7SA
497 NW6 3EB
498 NW6 7UP
499 NW6 2AE
500 NW6 6SX
501 NW6 1ED
502 NW6 5LG
503 NW6 1QY
504 NW6 7DX
505 NW6 2LH
506 NW6 3HA
507 NW6 2LX
508 NW6 3JX
509 NW6 6TN
510 NW6 5LH
511 NW6 5DX
512 NW6 1XZ
513 NW6 1SE
514 NW6 7AX
515 NW6 2RB
516 NW6 2JT
517 NW6 6BP
518 NW6 4AL
519 NW6 5TB
520 NW6 4NB
521 NW6 4LE
522 NW6 1QB
523 NW6 2QX
524 NW6 1EW
525 NW6 5BR
526 NW6 4ES
527 NW6 6BG
528 NW6 3RY
529 NW6 1BL
530 NW6 4QN
531 NW6 4QG
532 NW6 1TP
533 NW6 7JP
534 NW6 2AD
535 NW6 7LS
536 NW6 1EA
537 NW6 5LR
538 NW6 6AH
539 NW6 7HD
540 NW6 7UL
541 NW6 1AQ
542 NW6 7LB
543 NW6 5YT
544 NW6 6DT
545 NW6 4QA
546 NW6 4RY
547 NW6 3EX
548 NW6 4BX
549 NW6 2LG
550 NW6 7LE
551 NW6 7DS
552 NW6 6AD
553 NW6 1HL
554 NW6 5PX
555 NW6 5FJ
556 NW6 1EN
557 NW6 3DB
558 NW6 4AN
559 NW6 6RX
560 NW6 5YL
561 NW6 5YN
562 NW6 4RJ
563 NW6 3BS
564 NW6 3EP
565 NW6 6PR
566 NW6 1LA
567 NW6 1NN
568 NW6 2AS
569 NW6 1RZ
570 NW6 7EN
571 NW6 6TJ
572 NW6 2EP
573 NW6 5HZ
574 NW6 5AJ
575 NW6 4DH
576 NW6 3DJ
577 NW6 1AN
578 NW6 3EA
579 NW6 7EL
580 NW6 5DE
581 NW6 5EF
582 NW6 7UR
583 NW6 7NY
584 NW6 7SY
585 NW6 7NG
586 NW6 4ET
587 NW6 7AE
588 NW6 1QF
589 NW6 1ET
590 NW6 1NX
591 NW6 7EH
592 NW6 3HY
593 NW6 6HG
594 NW6 7YR
595 NW6 2HG
596 NW6 4BF
597 NW6 6DH
598 NW6 6HY
599 NW6 3NT
600 NW6 4PW
601 NW6 5NE
602 NW6 2HJ
603 NW6 5NS
604 NW6 4BD
605 NW6 4PH
606 NW6 6ED
607 NW6 5SW
608 NW6 6PT
609 NW6 7NE
610 NW6 1JJ
611 NW6 6LP
612 NW6 7HJ
613 NW6 2BD
614 NW6 5YP
615 NW6 4SP
616 NW6 4RP
617 NW6 6JJ
618 NW6 1UH
619 NW6 4EH
620 NW6 4SJ
621 NW6 2PA
622 NW6 7DU
623 NW6 3JP
624 NW6 7NP
625 NW6 2NP
626 NW6 1LJ
627 NW6 7YT
628 NW6 6PX
629 NW6 4QR
630 NW6 1HR
631 NW6 1NR
632 NW6 1RJ
633 NW6 3JY
634 NW6 4BZ
635 NW6 3RR
636 NW6 6PJ
637 NW6 6BN
638 NW6 7PP
639 NW6 5RA
640 NW6 6DZ
641 NW6 1JR
642 NW6 5EY
643 NW6 5EH
644 NW6 4TW
645 NW6 7PR
646 NW6 4BE
647 NW6 7EU
648 NW6 3AJ
649 NW6 6DU
650 NW6 1QH
651 NW6 1LL
652 NW6 6NB
653 NW6 7BB
654 NW6 7PN
655 NW6 1DN
656 NW6 3LP
657 NW6 5HW
658 NW6 7EG
659 NW6 5PS
660 NW6 5UH
661 NW6 6LJ
662 NW6 6HQ
663 NW6 6TB
664 NW6 2DG
665 NW6 7QB
666 NW6 2HH
667 NW6 7QW
668 NW6 4HB
669 NW6 5HP
670 NW6 4SU
671 NW6 6TG
672 NW6 2AN
673 NW6 5FS
674 NW6 4EE
675 NW6 5NJ
676 NW6 5BS
677 NW6 4TG
678 NW6 4BJ
679 NW6 4BA
680 NW6 4LL
681 NW6 1DW
682 NW6 1QQ
683 NW6 7QL
684 NW6 1JU
685 NW6 1NB
686 NW6 7XY
687 NW6 4PR
688 NW6 7SS
689 NW6 3ED
690 NW6 1NY
691 NW6 2PG

692 NW6 5RE
693 NW6 4RS
694 NW6 1EE
695 NW6 4AU
696 NW6 3AH
697 NW6 7PB
698 NW6 6SY
699 NW6 4DJ
700 NW6 4PG
701 NW6 6RN
702 NW6 7NR
703 NW6 1LN
704 NW6 7DR
705 NW6 3AL
706 NW6 3JL
707 NW6 6BF
708 NW6 6DE
709 NW6 5JE
710 NW6 1QG
711 NW6 4JH
712 NW6 5JP
713 NW6 6NL
714 NW6 3LB
715 NW6 3QN
716 NW6 3JN
717 NW6 2BT
718 NW6 6LA
719 NW6 5BT
720 NW6 1PN
721 NW6 3QG
722 NW6 1QR
723 NW6 5ER
724 NW6 7GZ
725 NW6 2LS
726 NW6 6DX
727 NW6 6JL
728 NW6 1PU
729 NW6 1HT
730 NW6 3BP
731 NW6 7AT
732 NW6 3EE
733 NW6 1TN
734 NW6 3HS
735 NW6 1QE
736 NW6 1PR
737 NW6 3LS
738 NW6 2PD
739 NW6 4NE
740 NW6 6PP
741 NW6 1UE
742 NW6 7PD
743 NW6 7HH
744 NW6 3HB
745 NW6 2AF
746 NW6 2BE
747 NW6 7SD
748 NW6 3RG
749 NW6 1TH
750 NW6 1DJ
751 NW6 2AP
752 NW6 5QS
753 NW6 1RL
754 NW6 4SN
755 NW6 5QT
756 NW6 6JE
757 NW6 7RJ
758 NW6 5JB
759 NW6 1HS
760 NW6 3AP
761 NW6 6BB
762 NW6 7PY
763 NW6 1TJ
764 NW6 7FB
765 NW6 7PJ
766 NW6 3RQ
767 NW6 5LB
768 NW6 7BY
769 NW6 6AA
770 NW6 4QU
771 NW6 4PT
772 NW6 1EH
773 NW6 6AE
774 NW6 7XR
775 NW6 5FL
776 NW6 5HX
777 NW6 1RB
778 NW6 2AA
779 NW6 3LL
780 NW6 3DL
781 NW6 7HU
782 NW6 3NG
783 NW6 4JD
784 NW6 6AY
785 NW6 4LD
786 NW6 2BG
787 NW6 1JS
788 NW6 2BR
789 NW6 4DY
790 NW6 2QY
791 NW6 2AU
792 NW6 7LR
793 NW6 7GF
794 NW6 3PP
795 NW6 1NH
796 NW6 1JX
797 NW6 4PP
798 NW6 4QY
799 NW6 3BB
800 NW6 4AB
801 NW6 7EY
802 NW6 7TU
803 NW6 3HD
804 NW6 6QG
805 NW6 4ED
806 NW6 7YP
807 NW6 1TL
808 NW6 1SP
809 NW6 6DY
810 NW6 2BS
811 NW6 1UL
812 NW6 7ET
813 NW6 4PS
814 NW6 1JP
815 NW6 3LR
816 NW6 2NA
817 NW6 1QA
818 NW6 1SB
819 NW6 7SZ
820 NW6 7YQ
821 NW6 6EJ
822 NW6 3SN
823 NW6 5DG
824 NW6 3JF
825 NW6 5DA
826 NW6 2JX
827 NW6 3DY
828 NW6 7TL
829 NW6 6SJ
830 NW6 2PT
831 NW6 7BJ
832 NW6 1DY
833 NW6 1NW
834 NW6 7YX
835 NW6 7YL
836 NW6 1XN
837 NW6 5BB
838 NW6 1LT
839 NW6 3SR
840 NW6 5LE
841 NW6 2JL
842 NW6 7UY
843 NW6 1SL
844 NW6 5UA
845 NW6 1JE
846 NW6 5LA
847 NW6 4NT
848 NW6 1SA
849 NW6 6SL
850 NW6 4QE
851 NW6 2AJ
852 NW6 6LE
853 NW6 2DB
854 NW6 6QN
855 NW6 7RH
856 NW6 5YS
857 NW6 5PB
858 NW6 1RH
859 NW6 5QY
860 NW6 4AD
861 NW6 5FG
862 NW6 7YD
863 NW6 1LS
864 NW6 1EX
865 NW6 4TB
866 NW6 5PU
867 NW6 7LA
868 NW6 1DP
869 NW6 5FE
870 NW6 1PG
871 NW6 1EY
872 NW6 7LD
873 NW6 7XX
874 NW6 1SN
875 NW6 4DU
876 NW6 6EE
877 NW6 5SD
878 NW6 6SN
879 NW6 5PW
880 NW6 2NJ
881 NW6 4TH
882 NW6 5YU
883 NW6 1DG
884 NW6 4ER
885 NW6 4EN
886 NW6 1NZ
887 NW6 2JU
888 NW6 1JD
889 NW6 7AD
890 NW6 5ES
891 NW6 5JD
892 NW6 5UY
893 NW6 2DS
894 NW6 1EJ
895 NW6 4NN
896 NW6 2NR
897 NW6 7TA
898 NW6 2NN
899 NW6 7SN
900 NW6 4RL
901 NW6 1EG
902 NW6 6EY
903 NW6 7SH
904 NW6 1AJ
905 NW6 3JR
906 NW6 2BY
907 NW6 7LH
908 NW6 3RS
909 NW6 4DR
910 NW6 3SJ
911 NW6 3QL
912 NW6 4AE
913 NW6 4LB
914 NW6 2RE
915 NW6 1HE
916 NW6 1EZ
917 NW6 7UG
918 NW6 2PB
919 NW6 3PX
920 NW6 1BS
921 NW6 7YZ
922 NW6 5DF
923 NW6 4TD
924 NW6 4ND
925 NW6 5AR
926 NW6 1NA
927 NW6 7UB
928 NW6 7PE
929 NW6 7NA
930 NW6 1JG
931 NW6 4SL
932 NW6 5ST
933 NW6 5UP
934 NW6 5YY
935 NW6 3HR
936 NW6 5DD
937 NW6 6AG
938 NW6 1DQ
939 NW6 1TX
940 NW6 1RN
941 NW6 2DR
942 NW6 3RN
943 NW6 3DD
944 NW6 7BW
945 NW6 2EE
946 NW6 5DR
947 NW6 7UH
948 NW6 1RD
949 NW6 3PN
950 NW6 7TH
951 NW6 5HY
952 NW6 7PQ
953 NW6 7TP
954 NW6 6JY
955 NW6 5PZ
956 NW6 6TT
957 NW6 6JU
958 NW6 7YG
959 NW6 3GB
960 NW6 3JU
961 NW6 1NQ
962 NW6 6LS
963 NW6 3LJ
964 NW6 1DE
965 NW6 7DW
966 NW6 4DG
967 NW6 7RE
968 NW6 7NU
969 NW6 6PF
970 NW6 1LB
971 NW6 7AB
972 NW6 7TR
973 NW6 7LJ
974 NW6 4AY
975 NW6 7BH
976 NW6 5DQ
977 NW6 3JS
978 NW6 3AY
979 NW6 2QH
980 NW6 1AD
981 NW6 7EE
982 NW6 7HY
983 NW6 1RR
984 NW6 7HB
985 NW6 5QN
986 NW6 3QT
987 NW6 7QT
988 NW6 4JP
989 NW6 7LL
990 NW6 3AB
991 NW6 4BG
992 NW6 2AG
993 NW6 2DT
994 NW6 7DA
995 NW6 1UD
996 NW6 7TE
997 NW6 2BQ
998 NW6 7BP
999 NW6 5AE
1000 NW6 1BG
1001 NW6 1JF
1002 NW6 5FF
1003 NW6 3NE
1004 NW6 1RE
1005 NW6 2BA
1006 NW6 7EJ
1007 NW6 1LG
1008 NW6 7TW
1009 NW6 7SL
1010 NW6 1NE
1011 NW6 1BU
1012 NW6 1PT
1013 NW6 7YS
1014 NW6 3QP
1015 NW6 4EG
1016 NW6 3HL
1017 NW6 6NN
1018 NW6 7BD
1019 NW6 6SD
1020 NW6 5FQ
1021 NW6 3RU
1022 NW6 3NN
1023 NW6 3LN
1024 NW6 7TS
1025 NW6 6RY
1026 NW6 7XL
1027 NW6 7PS
1028 NW6 3RE
1029 NW6 4LG
1030 NW6 1TR
1031 NW6 6TR
1032 NW6 5JS
1033 NW6 7RP
1034 NW6 5PY
1035 NW6 3PG
1036 NW6 1UJ
1037 NW6 2EG
1038 NW6 3LT
1039 NW6 4RT
1040 NW6 1PD
1041 NW6 6SH
1042 NW6 2BJ
1043 NW6 1EP
1044 NW6 5JR
1045 NW6 7RF
1046 NW6 1UN
1047 NW6 4RN
1048 NW6 6RG
1049 NW6 6RA
1050 NW6 5RY
1051 NW6 3SP
1052 NW6 3HT
1053 NW6 5QU
1054 NW6 3HN
1055 NW6 5JT
1056 NW6 6HT
1057 NW6 2LJ
1058 NW6 4RB
1059 NW6 6LN
1060 NW6 5EL
1061 NW6 7LX
1062 NW6 1UX
1063 NW6 4QH
1064 NW6 4NY
1065 NW6 7RL
1066 NW6 1AA
1067 NW6 4AG
1068 NW6 6DB
1069 NW6 7XB
1070 NW6 7RA
1071 NW6 5HT
1072 NW6 5UU
1073 NW6 4AJ
1074 NW6 5DS
1075 NW6 7SX
1076 NW6 3QS
1077 NW6 6JT
1078 NW6 2EH
1079 NW6 6HB
1080 NW6 4EP
1081 NW6 5JN
1082 NW6 1SF
1083 NW6 7QS
1084 NW6 3BN
1085 NW6 3PY
1086 NW6 1EU
1087 NW6 3HU
1088 NW6 3AU
1089 NW6 1SG
1090 NW6 5SX
1091 NW6 6EB
1092 NW6 3HX
1093 NW6 5LT
1094 NW6 1PE
1095 NW6 1PF
1096 NW6 7PW
1097 NW6 7AH
1098 NW6 6DL
1099 NW6 1BD
1100 NW6 6PB
1101 NW6 1RS
1102 NW6 1UB
1103 NW6 2PP
1104 NW6 1AG
1105 NW6 1QD
1106 NW6 7QR
1107 NW6 4AX
1108 NW6 3EU
1109 NW6 1HD
1110 NW6 4SS
1111 NW6 1HY
1112 NW6 5PA
1113 NW6 1UG
1114 NW6 5QW
1115 NW6 7QP
1116 NW6 1BN
1117 NW6 4NX
1118 NW6 6BH
1119 NW6 2JR
1120 NW6 1JH
1121 NW6 3NP
1122 NW6 3AA
1123 NW6 4SH
1124 NW6 7AA
1125 NW6 2AL
1126 NW6 2EB
1127 NW6 5BA
1128 NW6 4TJ
1129 NW6 1HP
1130 NW6 5HA
1131 NW6 1UR
1132 NW6 7AZ
1133 NW6 5BU
1134 NW6 7XG
1135 NW6 6TS
1136 NW6 4EJ
1137 NW6 4SX
1138 NW6 2QR
1139 NW6 5UB
1140 NW6 3BQ
1141 NW6 3LA
1142 NW6 5BY
1143 NW6 7NT
1144 NW6 5JL
1145 NW6 4PA
1146 NW6 3DH
1147 NW6 4NS
1148 NW6 7YA
1149 NW6 7YN
1150 NW6 5SN
1151 NW6 5AY
1152 NW6 1HX
1153 NW6 3JT
1154 NW6 1QU
1155 NW6 5UE
1156 NW6 3BE
1157 NW6 1PJ
1158 NW6 4LY
1159 NW6 7UT
1160 NW6 7HR
1161 NW6 1LP
1162 NW6 2EA
1163 NW6 3QE
1164 NW6 1JT
1165 NW6 7HQ
1166 NW6 1UU
1167 NW6 4AR
1168 NW6 4QT
1169 NW6 1LX
1170 NW6 5HG
1171 NW6 3SH
1172 NW6 4AP
1173 NW6 5BZ
1174 NW6 3QH
1175 NW6 2NL
1176 NW6 3DR
1177 NW6 7HL
1178 NW6 1TS
1179 NW6 4NA
1180 NW6 7BR
1181 NW6 1PL
1182 NW6 3SL
1183 NW6 1NP
1184 NW6 3RW
1185 NW6 7HF
1186 NW6 1XY
1187 NW6 3QD
1188 NW6 2BB
1189 NW6 3NJ

In [110]:
df = pd.concat([pd.DataFrame(x) for x in total])
df = df.dropna()

In [111]:
df.head()

,address,date,price,attributes,postcode
1,"Flat 3, Snowman House, Abbey Road","[Nov 2016, Feb 2008]","[£327,500, £228,950]","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN
5,"Flat 7, Snowman House, Abbey Road",[Sep 2013],"[£260,000]","Flat, Leasehold",NW6-4DN
7,"Flat 9, Snowman House, Abbey Road",[Dec 2007],"[£229,950]","Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-4DN
13,"Flat 15, Snowman House, Abbey Road",[May 2003],"[£51,000]","Flat, Leasehold",NW6-4DN
31,"Flat 33, Snowman House, Abbey Road",[Mar 2003],"[£56,500]","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN

---------

In [112]:
def extract_beds(x):
    txt = x['attributes']
    match = re.search('(\d+)\s*Beds?', txt, re.IGNORECASE)
    if match:
        return match.groups()[0]
    else:
        return None

In [113]:
def merge_price_date(x):
    price_date = []
    for price, date in zip(x['price'], x['date']):
        price_date.append(price+'_'+date)
    return price_date

In [114]:
df['beds'] = df.apply(extract_beds, axis=1)
df = df.dropna()
df['price_date'] = df.apply(merge_price_date, axis = 1) # This is done so it is easier to "melt" the df with the columns at the same time
df = df.drop(['price', 'date'], axis = 1)
df = df.reset_index(drop=True)

In [115]:
df

,address,attributes,postcode,beds,price_date
0,"Flat 3, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"[£327,500_Nov 2016, £228,950_Feb 2008]"
1,"Flat 9, Snowman House, Abbey Road","Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-4DN,1,"[£229,950_Dec 2007]"
2,"Flat 33, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"[£56,500_Mar 2003]"
3,"Flat 35, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"[£175,000_Oct 2012]"
4,"Flat 36, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"[£235,000_Aug 2013]"
...,...,...,...,...,...
8627,85 Brassey Road,"Flat, Leasehold, 0 Beds, 1 Bath, 1 Recep",NW6-2BB,0,"[£175,000_Oct 2015, £172,000_Sep 2014, £97,594..."
8628,91 Brassey Road,"Flat, Leasehold, 0 Beds, 1 Bath, 1 Recep",NW6-2BB,0,"[£190,000_Jan 2013]"
8629,104 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath",NW6-2BB,1,"[£169,000_Mar 2006, £106,000_Feb 2005]"
8630,113 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"[£372,500_Dec 2018, £210,000_Oct 2011]"
8631,116 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"[£260,000_Oct 2012, £240,000_Nov 2007]"

In [116]:
df = df.explode('price_date')

In [117]:
df[['price','date']] = df['price_date'].str.split('_', expand=True)

In [118]:
df = df.drop('price_date', axis=1)

In [119]:
df

,address,attributes,postcode,beds,price,date
0,"Flat 3, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£327,500",Nov 2016
0,"Flat 3, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£228,950",Feb 2008
1,"Flat 9, Snowman House, Abbey Road","Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-4DN,1,"£229,950",Dec 2007
2,"Flat 33, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£56,500",Mar 2003
3,"Flat 35, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£175,000",Oct 2012
...,...,...,...,...,...,...
8629,104 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath",NW6-2BB,1,"£106,000",Feb 2005
8630,113 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£372,500",Dec 2018
8630,113 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£210,000",Oct 2011
8631,116 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£260,000",Oct 2012
8631,116 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£240,000",Nov 2007

In [120]:
df.to_csv('nw6_data.csv')

----------

3. Segment the data by property size (number of bedrooms)
3. Build a VERY SIMPLE repeat sales index of the rents and yields (http://realestate.wharton.upenn.edu/wp-content/uploads/2017/03/724.pdf).

In [124]:
df.sort_values(by='address')

,address,attributes,postcode,beds,price,date
4423,"1 Treetop Mews, Christchurch Avenue","Terraced house, Freehold, 4 Beds, 3 Baths, 1 R...",NW6-7BL,4,"£1,110,000",Jan 2014
7733,"1, 42 Fortune Green Road","Flat, Leasehold, 3 Beds, 2 Baths, 1 Recep",NW6-1UJ,3,"£370,000",Apr 2002
2477,"1, 76 Kingsgate Road","Flat, Leasehold, 2 Beds, 2 Baths, 1 Recep",NW6-4LA,2,"£725,000",Jun 2015
2477,"1, 76 Kingsgate Road","Flat, Leasehold, 2 Beds, 2 Baths, 1 Recep",NW6-4LA,2,"£425,000",May 2009
2477,"1, 76 Kingsgate Road","Flat, Leasehold, 2 Beds, 2 Baths, 1 Recep",NW6-4LA,2,"£290,000",Mar 2004
...,...,...,...,...,...,...
6071,"Upper Maisonette, 24 Narcissus Road","Flat, Share of freehold, 2 Beds, 2 Baths, 1 Recep",NW6-1TH,2,"£599,950",Nov 2007
6071,"Upper Maisonette, 24 Narcissus Road","Flat, Share of freehold, 2 Beds, 2 Baths, 1 Recep",NW6-1TH,2,"£400,000",Oct 2006
7414,"Wavel House, Wavel Mews","Detached house, Freehold, 3 Beds, 3 Baths, 2 R...",NW6-3AB,3,"£1,225,000",Aug 2012
826,"Woodstock, 83 Priory Road","Flat, Leasehold, 3 Beds, 2 Baths, 1 Recep",NW6-3NL,3,"£165,000",Jan 1999
2502,"Woodstock, 83 Priory Road","Flat, Leasehold, 3 Beds, 2 Baths, 1 Recep",NW6-3NL,3,"£165,000",Jan 1999

In [129]:
valid_propierties = df['address'].sort_values().unique()[df.groupby('address')['date'].size()>1]

In [130]:
vdf = df[df['address'].isin(valid_propierties)]

In [131]:
vdf

,address,attributes,postcode,beds,price,date
0,"Flat 3, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£327,500",Nov 2016
0,"Flat 3, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£228,950",Feb 2008
1,"Flat 9, Snowman House, Abbey Road","Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-4DN,1,"£229,950",Dec 2007
2,"Flat 33, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£56,500",Mar 2003
3,"Flat 35, Snowman House, Abbey Road","Flat, Leasehold, 2 Beds, 1 Bath, 1 Recep",NW6-4DN,2,"£175,000",Oct 2012
...,...,...,...,...,...,...
8629,104 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath",NW6-2BB,1,"£106,000",Feb 2005
8630,113 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£372,500",Dec 2018
8630,113 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£210,000",Oct 2011
8631,116 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£260,000",Oct 2012
8631,116 Brassey Road,"Flat, Leasehold, 1 Bed, 1 Bath, 1 Recep",NW6-2BB,1,"£240,000",Nov 2007